<div class="page-header">

  <div>
  </div>

  <button routerLink="/dashboard/add-task" class="add-btn">
    + Add New Task
  </button>

</div>


<div *ngIf="tasks.length === 0" class="empty-msg">
  No tasks created yet
</div>


<div class="tasks-grid">

  <div class="task-card" *ngFor="let task of tasks">

    <div class="task-image">

      <img
        [src]="'http://localhost:5000' + task.picture"
        *ngIf="task.picture"
      >

      <img
        src="https://images.unsplash.com/photo-1519389950473-47ba0277781c"
        *ngIf="!task.picture"
      >

      <span class="status"
        [ngClass]="{
          'open': task.status === 'pending',
          'progress': task.status === 'in_progress',
          'done': task.status === 'done'
        }">

        {{ task.status || 'pending' }}

      </span>

    </div>


    <div class="task-content">

      <h3>{{task.title}}</h3>

      <p class="description">
        {{task.description}}
      </p>

      <div class="task-meta">

        <span>
          📍 {{task.location}}
        </span>

        <span>
          ⏰ {{task.start_time | date:'medium'}}
        </span>

      </div>

    </div>

  </div>

</div>
